.login-container,
.register-container {
    height: 79.5vh;
    width: 65%;
    margin: 0 auto;
    text-align: start;
}

.site-login {
    align-items: center;
    padding: 3em;
}

form {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
}

form fieldset {
    border-radius: 1em;
    min-height: 50vh;
    width: 60%;
    border: none;
    text-align: center;
}

fieldset legend {
    display: inline-block;
    width: 70%;
    font-size: 1.5em;
    margin: 1em auto;
    border-bottom: 2px solid white;
}

form p {
    margin-bottom: 1.5em;
}

form input,
textarea {
    border: none;
    border-radius: 0.3em;
    height: 1.5em;
    width: 20vw;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.submit {
    display: flex;
    justify-content: center;
}

.btn-submit {
    display: block;
    padding: 0.3em 1em;
    border-radius: 0.3em;
    border: 1px solid black;
    background-color: gold;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
    font-weight: bold;
    transition: box-shadow 0.3s ease-out;
}

.btn-submit:hover {
    box-shadow: 0 0 1.2em 0 rgba(0, 0, 0, 1);
}
