.article-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    min-height: 100%;
    margin: 0 auto;
}

.article-media {
    display: flex;
    justify-content: center;
    max-width: 80%;
    max-height: 80vh;
    overflow: hidden;
    margin: 1em;
}

.Landscape {
    max-width: 80%;
}

.article-media img {
    /* max-width: 40%; */
    height: auto;
    border: 2px solid black;
    margin: 1em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.5);
}

.Portrait {
    max-width: 60%;
}

.article-info {
    text-align: center;
    width: 60%;
    background-color: rgba(75, 75, 75, 0.5);
    margin: 1em;
    padding: 1em 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.article-info h2 {
    font-size: 2.3em;
}

.article-info p {
    text-align: center;
}

.buttons {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.like-btn {
    font-size: 1.2em;
    padding: 0.3em 1.2em;
    background-color: green;
    border-radius: 0.5em;
    margin: 1em;
}