<footer class="site-footer ">
    <div class="footer-nav ">
        <div class="footer-content ">
            <ul>
                {{#if isAuth}}
                <li><a href="#/create">Share A Story</a></li>
                {{/if}}
            </ul>
        </div>
        <div class="footer-icons ">
            <ul>
                <li><a href="https://www.facebook.com " class="f-book "><i class="fab fa-facebook-square "></i></a></li>
                <li><a href="https://www.instagram.com " class="instagram "><i class="fab fa-instagram "></i></a></li>
                <li><a href="https://twitter.com " class="twitter "><i class="fab fa-twitter-square "></i></a></li>
            </ul>
        </div>
        <div class="footer-more ">
            <p>All rights reserved &copy; 2020</p>
        </div>
    </div>
</footer>