{{> header}}

<div class="about-container">
    <div class="about-title">
        <h2>
            Story of my life
        </h2>
    </div>
    <div class="gallery">
        <div class="item">
            <div class="media vertical">
                <img src="../images/pictures/sleeping.jpg" alt="">
            </div>
            <p>
                This is me only 30 days old sleeping on my humans bed. This was one of my favourite activities to do and guess what...it is still a favourite thing to do. 
            </p>
        </div>
        <div class="item">
            <div class="media vertical">
                <img src="../images/pictures/baby.jpg" alt="">
            </div>
            <p>
                On this picture I am a little older than the first one. As you see I learned fast how to pose infront of the camera. I look so fluffy &hearts; .
            </p>
        </div>
        <div class="item">
            <div class="media vertical">
                <img src="../images/pictures/playing.jpg" alt="">
            </div>
            <p>
                Here we are me and my best friend - The Angry Chicken. We used to love playing together. Every time when he was trying to run away from me I was there to catch him. Unfortunately one day The Angry Chicken went to visit a human friend and never came back.
            </p>
        </div>
        <div class="item">
            <div class="media">
                <img src="../images/pictures/christmas.JPG" alt="">
            </div>
            <p> 
                My humans realised that I look so handsome infront of the camera... so they took me to some guy with very big photo camera. He was taking picture of us for an hour... it was very exhausting.
            </p>
        </div>
        <div class="item">
            <div class="media vertical">
                <img src="../images/pictures/1st-of-march.jpg" alt="">
            </div>
            <p>
                This picture is taken at 1<sup>st</sup> of March. I didn't know it is a traditional bulgarian holiday. My humans gave me this thing Martenichka. It is made of white and red wool and you have to wear it until you see a stork. It is a little strange but as long as we do this for good health I am in.
            </p>
        </div>
        <div class="item">
            <div class="media vertical">
                <img src="../images/pictures/caffee-on-the-beach.jpg" alt="">
            </div>
            <p>
                Oooh this is a favourite memory of mine. As I said at first &hearts; I LOVE THE BEACH &hearts; !!! I love when my humans take me there. While they are drinking this strange soup called coffe I am digging and searching for treasures.
            </p>
        </div>
        <div class="item">
            <div class="media vertical">
                <img src="../images/pictures/watching-the-see.JPG" alt="">
            </div>
            <p>
                On this picture you can see the long road in the sea. I don't like going on this road because it looks so scary but it is nice to stand on the beach looking at it... dreaming about good food and cold beer!
            </p>
        </div>



    </div>
</div>

{{> footer}}