{{> header}}

<main class="site-main">
    <div class="main-introduce">
        <div class="img">
            <img src="./images/header-background.JPG" alt="">
        </div>
        <div class="story">
            <h2>So...this is me<br>Just a golden retriever</h2>
            <p>
                Hi, guys! My name is Ryan and as you see I am a doggy. Recently found out that we the dogs have a types
                and more specific - breeds. So my breed is a Golden Retriever. I have an amazing life. With my humans...
                oh yeah that's right I have my own humans!
                So as I was saying me and my humans love going out for a walks in the Sea garden. There are so many
                awesome trees and lawns, but my favourite is the beach... ooooh I love the beach! When I hear the sound
                of taking the shackles
                down I start running wherever I see. And one day just when I was thinking that there is nothing to
                surprise me about the beach my humans showed me the sea. But you can't walk in the sea you have to swim.
                I didn't know what is like
                to swimming but fortunately somehow I knew how to do it. So that's how swimming became my new favourite
                exercise.
                <br>
                If you want to know each other better just log in or make a registration. It is so nice to meet new people! </p>
        </div>
    </div>
</main>

{{> footer}}